{% extends 'base/main.html' %}


{% block content %}
<table>
    <tr>
        <td>商品名稱</td>
        <td>商品單價</td>
        <td>商品數量</td>
        <td>金額</td>
    </tr>
    {% for cart in carts %}
        <tr>
            <td>{{cart.drink.name}}</td>
            <td>{{cart.drink.price}}</td>
            <td>{{cart.amount}}</td>
            <td>{{cart.subtotal}}</td>
            <td>
                <form action="{% url 'editcart' cart.drink.id %}">
                    <input type="submit" value="-" name="{{cart.drink.name}}">
                    <input type="submit" value="+" name="{{cart.drink.name}}">
                </form>
             </td>
        </tr>
    {% endfor %}
    <tr>
        <td>總共 {{total}}元
            <form action="{% url 'home' %}">
                <input type="submit" value="繼續購物">
            </form>
        </td>
    </tr>
</table>


{% endblock content %}