{% extends 'base/main.html' %}


{% block content %}
<table>
    <tr>
        <td>商品名稱</td>
        <td>商品單價</td>
        <td>商品數量</td>
        <td>金額</td>
    </tr>
    {% for cart in carts %}
        <tr>
            <td>{{cart.drink.name}}</td>
            <td>{{cart.drink.price}}</td>
            <td>{{cart.amount}}</td>
            <td>{{cart.subtotal}}</td>
            <td>
                <form action="{% url 'editcart' cart.drink.id %}">
                    <input type="submit" value="-" name="{{cart.drink.name}}">
                    <input type="submit" value="+" name="{{cart.drink.name}}">
                    <a href="{% url 'editcart' cart.drink.id %}">刪除</a>
                </form>
             </td>
        </tr>
    {% endfor %}
</table>
<p>總共 {{total}}元</p>
<form action="{% url 'home' %}">
    <input type="submit" value="繼續購物">
</form>
<form action="{% url 'deletecart'  %}">
    <input type="submit" value="清空購物車",name="delete">
</form>


{% endblock content %}