{% extends 'base/main.html' %}

{% block content %}
<style>
    .cart-button{
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
    }
</style>
    <div>
        <p>Not Sign up Yet? Click <a href="">Login</a></p>
    </div>
    <div class="cart-button">
        <div>
            {% for drink in drinks %}
                <div>
                    <img src="static/{{drink.image}}" alt={{drink.name}}>
                    <div>
                        <a href="{% url 'productinfo' drink.id %}">{{drink.name}}</a>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div>
            <a href="{% url 'cart' %}">購物車</a>
        </div>
    </div>
{% endblock content %}