{% extends 'base/main.html' %}

{% block content %}
<style>
    .product-container{
        display: flex;
        flex-wrap: wrap;  
        justify-content:space-evenly;
        flex-direction: row;
        background-color:aqua;
        height: 300px;
        border:1px solid red;
    }
</style>
    <div class="product-container">
        <img src="static/image/洛神花茶.jpg" alt={{drink.name}} width="200" height="200">
        <img src="static/image/洛神花茶.jpg" alt={{drink.name}} width="200" height="200">
        <img src="static/image/洛神花茶.jpg" alt={{drink.name}} width="200" height="200">
        <img src="static/image/洛神花茶.jpg" alt={{drink.name}} width="200" height="200">
        
    </div>
    <div class="product-container" style="background-color: #fdf2e3;">
        <p>454545</p>
    </div>
    <!--
    <div class="product-container">
        <div >
            {% for drink in drinks %}
                <div >
                    <img src="static/{{drink.image}}" alt={{drink.name}} width="300" height="200">
                    <div>
                        <a href="{% url 'productinfo' drink.id %}">{{drink.name}}</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="product-container" style="background-color: #fdf2e3;">
        <p>454545</p>
    </div>
    -->
    
   
{% endblock content %}