{% extends 'base/main.html' %}


{% block content %}
<div>
{% if page == 'login' %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<form method="POST" action="">
    {% csrf_token %}
    <label >Username:</label>
    <input type="text" name="username" placeholder="Enter Username" />
    <label >Password:</label>
    <input type="password" name="password" placeholder="Enter Password" />
    <input type="submit" value="Login">
</form>
<div>
    <p>Not have registration yet?
        <form action="{% url 'register' %}">
            <input type="submit" value="Sign up"/>
        </form>
    </p>
</div>
{% else %}
<div>
    <form method="POST" action="">
        {% csrf_token %}
        {{form.as_p}}
        <div>
            <label >phone number:</label>
            <input type="text" name="phone" placeholder="Enter phone number" />
        </div>
        <div>
            <label >address:</label>
            <input type="text" name="address" placeholder="Enter address" />
        </div>
        <input type="submit" value="Register">
    </form>
</div>
{% endif %}

</div>

    
{% endblock content %}